html, body {
 margin: 0;
 padding: 0;
 background-color: #000;
 font-family: sans-serif;
}

.info {
 margin: 0 0 20px 5px;
}

#contact{
 width: 171%;
 margin-top: 43px;
 display: inline-block;
 -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
#contact  h1, ul, li{
 display: inline-block;

}
#contact li{
 display: inline;
}
h1 {
 color: #fff;
 font-family: 'Raleway';
}

#banner {
 font-size: 45px;
 color: #fff;
 font-family: 'Raleway';
 margin: 160px 0 20px 0;
}

.intro {
 font-family: 'Open Sans Condensed';
 font-size: 20px;
 color: grey;
 width: 67%;
}

p {
 font-family: 'Open Sans Condensed';
 font-size: 20px;
 color: grey;
}

li {
 font-family: 'Open Sans Condensed';
 font-size: 25px;
 color: #FFF;
}

#horizontal-list li {
 display: inline-block;
 margin-right: 90px;
}

a {
 text-decoration: none;
}

a:hover {
 text-decoration: none;
 text-transform: capitalize;
 color: grey;
}

img {
 border: 2px solid white;
 max-width: 100%;
}

ul li {
 display: block;
 margin-bottom: 15px;
 padding: 0;
}
ol, ul{
 padding: 0;
}

footer{
 text-align: center;
}
/* Mobile media Queries*/

@media (max-width: 700px) {
 .info, #view {
  float: left;
  padding: 0;
  width: 96%;
  margin: 2%;
 }
 p {
  width: 75%;
 }
 h1 {
  margin: 1%;
 }
 #horizontal-list li {
  display: block;
 }
 img {
  width:
 }
}

@media all and (max-width: 1050px) and (min-width: 701px) {
 .info, #view {
  float: left;
  padding: 0;
  width: 96%;
  margin: 1%;
 }
 h1 {
  margin: 1%;
 }
 p {
  width: 75%;
 }
 #view {
  margin: 1%;
 }
 img {
  margin: 2% 2% 2% 0;
 }
 ul li {
  float: left;
 }
}
