html,body {
 margin: 0;
 padding: 0;
}

.background{
 background:url('images/image.jpg');
 position: relative;

}
.layer {
 padding: 20px;
 background: rgba(39, 97, 83, 0.47);
 /*position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;*/
}
h1{
 font-size: 45px;
 text-align: center;
 font-family: 'Raleway', sans-serif;
}
p{
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 20px;
 color: rgba(30, 5, 47, 1);
}
p:nth-of-type(1){
 float:left;
 width: 40%;
 margin: 3px;
 padding:inherit;
}
p:nth-of-type(2){
 float: left;
 width: 40%;
 margin: 3px;
 padding: inherit;
}
h2{
  font-family: 'Raleway', sans-serif;
    font-size: 30px;
    clear:both;
    text-align:center;
}
li{
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 25px;
 color: #FFF;
}
ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	text-align:center;
	}
ul#horizontal-list li{
    display: inline;
    margin:10px;
}
a{
 text-decoration: none;
}
a:hover{
 text-transform: capitalize;
 color: red;
}
